<link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
<footer id="footer">
    <ul class="copyright">
        <li>&copy; ISH</li><li>Stock-Ish</a></li>
    </ul>
</footer>