<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
</head>
<body>
    <% for(let i = 0; i < watchList.length; i++) {%>
    <%= watchList[i].companyName%>
    <%= watchList[i].price %> 
<% } %>
</body>
</html>